@font-face {
  font-family: 'Lato';
  src: url('/src/assets/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: 'Lato', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --background-dark: rgb(72, 72, 176);
  --background-light: rgb(37, 124, 159);
  --text-dark: rgba(255, 255, 255, 0.87);
  --text-light: rgb(36, 46, 43);
  --button-dark: rgb(33, 34, 34);
  --button-dark-hover: rgb(12, 12, 12);
  --button-light: rgb(245, 245, 245);
  --button-light-hover: rgb(229, 229, 229);

  color: var(--text-dark);
  background-color: var(--background-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #0b2b20;
  text-decoration: inherit;
}

a:hover {
  color: #328568;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, var(--background-light), var(--background-dark));
  color: var(--text-dark);
}

button {
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  cursor: pointer;
}

select {
  height: 2rem;
  border-radius: 0.5em;
  border: 1px solid white;
  padding: 0.5em;
}

#app {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.card {
  padding: 2em;
  border-radius: 1em;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  color: var(--text-light);
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-light);
    background-color: var(--background-light);
  }
  a:hover {
    color: var(--text-light);
  }
  button {
    background-color: white;
    color: var(--text-light);
  }
}
